<%= form_for @changeset, @action, fn f -> %>
	<%= if f.errors != [] do %>
		<div class="alert alert-danger">
			<p>Oops. something went wrong! Please check the errors below: </p>
			<ul>
				<%= for {attr, message} <- f.errors do %>
					<li><%= humanize(attr) %><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<label>Username</label>
		<%= text_input f, :username, class: "form-control" %>
	</div>

	<div class="form-group">
		<label>Password</label>
		<%= password_input f, :password, class: "form-control" %>
	</div>


	<div class="form-group">
		<%= submit "Submit", class: "btn btn-primary" %>
	</div>
<% end %>